@using BenimKitaplığım.Models;
@model List<TBLKATEGORİ>
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_KitapLayout.cshtml";
}

<h2 style="font-family:Arial, Helvetica, sans-serif">Romanlar nedir?</h2>
<br />
<p style="font-family:courier,arial,helvetica;">
    Olmuş ya da olabilir nitelikteki olayları ve konuları ele alan edebî türlere roman denir. Diğer türlerden ayrılan en önemli özelliği, uzunluğudur. Romanlarda, toplumsal olaylar ve ilişkiler gerçeklere uygun bir tarzda ele alınır.

    “Roman” kelimesi, Roma İmparatorluğu sınırları içinde yaşayan halk kitlelerinin konuştuğu halk Lâtincesine verilen addır. Sonraları herkesin anlayabilmesi için bu dille yazılan destan ve hikâyelere “roman” adı verilmiştir. Kelimenin aslı buradan gelir. <b> (H. F. GÖZLER, Örnekleriyle Türkçe ve Edebiyat Bilgileri, s. 303)</b>
    <br />

    İyi bir roman ilgi çekici olmalı, herkesi ilgilendiren insancıl bir tema taşımalıdır. Romandaki olaylar arasında dengeli bir sıralama ve bağ bulunmalıdır. Olaylar akla yakın olmalı, romanın konusundan doğmalıdır. Romandaki varlıkların kişilikleri baştan sona dek konuya uygun nitelikte olmalı, birbiriyle çelişmemelidir.

    Roman yazarı; romanda yarattığı kişilerini kendi kişiliği içinden görebilmelidir. Romandaki davranışlar ve konuşmaların, kişilerin karakterlerinden çıkmasını sağlamalıdır.

    Okuyucu, romanı iş olsun diye okumaz. Roman okurken avunmak, kendinden uzaklaşmak ister. Romandaki kişilerle ilgilenmeye başlar. Olaylar karşısındaki davranışlarının ne olacağını merak eder. Onların başarılarından mutluluk duyar. Onların sıkıntılarına üzülür. Kendisini onların yerine koyar. Onların davranışlarını eleştirir. Bu davranışlar içinde yapılmaması gerekeni, yapılmamış olanları bulur. Romanı okuyup bitirince genel bir yargıda bulunur.

<p />
<br />
<h2 style="font-family:Arial, Helvetica, sans-serif">Hikaye nedir?</h2>
<br />
<p style="font-family: courier,arial,helvetica;">
    Hikâye: Hikâye kelimesi Türkçe Sözlük’te “Gerçek veya tasarlanmış olayları anlatan düzyazı türü.” biçiminde tanımlanmaktadır. Hikâye, insanoğlunun ilk edebî ürünlerinden olan destanlarla birlikte doğmuş ancak günümüze kadar önemli değişimler geçirmiştir. Hikâyenin modern anlamda edebî tür hâline gelmesi 19. yüzyıl yazarlarının metinleriyle mümkün olmuştur. Özellikle Fransız yazar <b>Maupassant (Maposan) ve Rus yazar Çehov,</b> kendi adları ile anılan hikâye tarzlarının kurucuları arasında yer alır.

    Hikâyeler genellikle insanı merkeze alan edebî metinlerdir. Bütün hikâyelerde, olay veya durumları aktaran bir anlatıcı yer alır ve bu anlatıcı belli bir bakış açısıyla ayrıntıları okura aktarır. Hikâyelerde hayatın belli bir kesiti ele alınır ve olayların içindeki kişiler belirgin özellikleriyle sunulurlar. Bu tür edebî metinlerde olaylar belirli bir zaman ve mekânda gerçekleşir. Zaman ve mekâna ilişkin öğeler, hikâyedeki olayların akışını veya kişilerin özelliklerini doğrudan etkilemektedir. Tarih içindeki örneklerle karşılaştırıldığında, günümüzde hikâyelerin giderek kısaldığı ancak anlatım bakımından yoğun bir yapıya kavuştuğu görülmektedir.

    Hikâye hem dünya hem de Türk edebiyatında köklü bir geleneği olan bir türdür. Dünya edebiyatında <b>Boccacio‘nun (Bokasyo), “Decameron (Dekameron)</b> adlı hikâyeleri bu türün ilk modern örnekleri kabul edilir.

    Fransız edebiyatında <b>Alphonse Daudet‘nin (Alfons Dode) “Değirmenden Mektuplar”</b> adlı eseri ile Guy de Maupassant’ın (Guy dö Mopasan) hikâyeleri ile Rus yazar Çehov’un eserleri bu türün önemli örnekleri arasında yer alır.
</p>
<br />
<h2 style="font-family:Arial, Helvetica, sans-serif">Tiyatro nedir?</h2>
<br />
<p style="font-family: courier,arial,helvetica;">Tiyatro, bir öykünün karakterlerin davranışı yoluyla bir düşünceyi aktarmak üzere, konuşma ve hareket yardımıyla, sahne üzerinde eyleme dönüştürülmesidir.Tiyatro, bütün sanatları kullanıp bunları uyumlu bir biçime dönüştüren tek sanattır. Bir tiyatro yapıtı, kendine özgü kuralları ve nitelikleri olan bir yaratıdır.</p>
<br />
<h2 style="font-family:Arial, Helvetica, sans-serif">Şiir nedir?</h2>
<br />
<p style="font-family: courier,arial,helvetica;">
    Duygu, çağrışım ve izlenimlerin dizeler halinde dile getirildiği söz sanatıdır şiir. Hiçbir zaman kesin ve tam bir tanımına ulaşılamayan türlerden biridir ve çok genel olarak şiir, düzyazı dışında kalan bir anlatım biçimi olarak nitelendirilebilir. Ama şiiri düzyazıdan ayıran yegâne özelliği, dizeler halinde yazılması değildir. Diğer yazınsal türlerden farklı olarak şiirde çağrışım, imge, sezgi, duyular, duygular önemli bir yer tutar. Anlatım daha kapalı, söyleyiş daha müzikal ve etkili, duygular daha güçlü, algılar daha ön plandadır. Şiirde tanrısal bir yücelik, büyüleyici bir güzellik, çözülemez bir gizem, sözcükleri ve sesleri birbirinden ayrılamaz bir ezgi vardır.

    Şiir, dilin anlam, ses ve ritim öğelerini belli düzen içinde kullanarak bir olayı, ya da bir duygusal ve düşünseldeneyimi yoğunlaşmış ve sıradanlıktan uzaklaşmış bir biçimde ifade etme sanatıdır.

    Valery’nin tanımından hareket eden Suut Kemal Yetkin, yürüyüş ile raks (dans) arasındaki farkı, düzyazı ile şiir arasındaki farka benzetir ve “Şiir bu kadar esrarlı ve çözülemez bir terkip olduğuna göre, nesre çevrildiği zaman şiirliğini koruyan bir şiir tasavvur olunamadığı gibi, nesrin nazma sokulmasıyla elde edilen bir şiir de öylece tasavvur olunamaz. Ve gene bir öylece bir şaire şunu veya bunu anlatmalısın demek kadar manasız bir şey olamaz. Zaten şair bir şey anlatmaz, anlattığı zaman da şair olmaz” der. İlk şiirlerin insanoğlunun dinsel törenlerine eşlik ettiği, bilinen bir gerçektir. Çağlara ve toplumlara göre şiir beğenileri, mükemmel şiirin ölçüleri değişse de, iyi şiirin nitelikleri hemen hemen her dilde ve kültürde yukarıda belirttiğimiz ortaklıkları taşır. Destanlar, ninniler, türküler, ağıtlar, insanoğlunun ilk sözlü sanat ürünleri ve ilk şiirleridir aynı zamanda.

    Ahmet Haşim, “Şiir, bir hikâye değil, sessiz bir şarkıdır” diye tanımlar şiiri; J. Cocteau “Ne masayı anlatacağım diye masa kelimesini kullanacaksınız, ne kuşu anlatacağım diye kuş kelimesini, ne de aşkı anlatacağım diye aşk kelimesini” der; Salah Birsel’se Şiirin İlkeleri’nde aynı konuda şunu söyler: “Doğrusu şiirin hiçbir anlamı olmaması değil, şiirin o anlamı bağırmaması gerekir“. Bu tanımlardan, şiirin işlevinin anlatmak değil, duyurmak yani hissettirmek olduğu sonucuna ulaşabiliriz. İlhan Berk de “Anlamla Yola Çıkılmaz: Şiir Bir Şey Anlatmaz. Anlaşılmak İçin de Değildir” başlıklı yazısında aynı noktaya değinir...
</p>